In [1]:
def factorial(n):
    if (n==0):
        return 1
    else:
        return n * factorial(n-1)

In [2]:
factorial(5)

120

In [3]:
def binary_search(data, target, low, high):
    if (low > high):
        return False
    else:
        mid = (low + high) // 2
        if target == data[mid]:
            return print("find ", target)
        elif target < data[mid]:
            return binary_search(data, target, low, mid-1)
        else:
            return binary_search(data, target, mid+1, high)

In [4]:
data=[2,4,5,7,8,9,12,14,17,19,22,25,27,28,33,37]

In [5]:
data[0]

2

In [6]:
data[15]

37

In [7]:
binary_search(data, 22, 0, 15) #index 0~15중 그 안의 값 22를 찾기

find  22

In [11]:
def reverse(S, start, stop):
    if start < stop-1:
        S[start], S[stop-1] = S[stop-1], S[start]
        reverse(S, start +1, stop -1)

In [12]:
reverse(data, 0, 16)

In [13]:
data

[2, 4, 5, 7, 8, 9, 12, 14, 17, 19, 22, 25, 27, 28, 33, 37]

In [14]:
pow(3,3) #3의 3제곱 - power은 멱함수임

27

In [15]:
def power(x, n):
    if (n==0):
        return 1
    if (n % 2) != 0:
        y = pow(x, (n-1)/2)
        return x * y * y
    else:
        y = pow(x, n/2)
        return y * y

In [16]:
power(3,20)

3486784401.0

In [16]:
from time import time
start_time = time()
power(2,1000)
end_time = time()
elapsed = end_time - start_time
print(elapsed)

0.0

In [26]:
5//2

2

In [22]:
def binary_sum(A, i, n):
    if n == 1:
        return A[i]
    else:
        return binary_sum(A, i, n//2) + binary_sum(A, i + n//2, n//2)

In [23]:
data1 = [2,3,4,5,6,7,9,10]

In [25]:
binary_sum(data1, 0, 1)

2

In [26]:
binary_sum(data1, 0, 2)

5

In [27]:
def fibo(n):
    if n < 2:
        return 1
    else:
        return fibo(n - 1) + fibo(n - 2)

In [28]:
fibo(6)

13

In [30]:
def fib(n):
    if n == 1:
        return 0, 1
    else:
        a, b = fib(n-1)
        print(a)
        return (a+b, a)
    
fib(6)

0
1
1
2
3

(5, 3)