In [19]:
print("hello")

hello

This is the first python that I will do in this course

# This is the python
## This is the python
### This is the python

In [20]:
temperature = 98.4 # assignment

In [21]:
print(temperature)

98.4

In [22]:
numberOfStudent = 5

In [23]:
print(numberOfStudent)

5

In [24]:
firstText = 'Hello'

In [25]:
print(firstText)

Hello

In [26]:
print(Temperature)

NameError: name 'Temperature' is not defined

In [27]:
number05_of_programming = 56

In [28]:
05number = 5

SyntaxError: invalid token (<ipython-input-28-c92dfac2669f>, line 1)

In [29]:
True

True

In [30]:
trial = True

In [31]:
print(trial)

True

In [32]:
trial = False

In [33]:
print(trial)

False

In [34]:
trial = 2 < 3

In [35]:
print(trial)

True

In [36]:
bool()

False

In [37]:
bool(trial)

True

In [38]:
a = 5

In [39]:
print(a)

5

In [40]:
int(6)

6

In [41]:
int()

0

In [42]:
a = int(6)

In [43]:
print(a)

6

In [44]:
int(3.14)

3

In [45]:
int(3.95)

3

In [46]:
int("135")

135

In [47]:
float()

0.0

In [48]:
float(3)

3.0

In [49]:
float("5.14")

5.14

In [50]:
list1 = ['red', 'green', 'blue']

In [51]:
print(list1)

['red', 'green', 'blue']

In [52]:
list2 = []

In [53]:
print(list2)

[]

In [54]:
list()

[]

In [55]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [56]:
tuple1 = (1 , 2 ,4, 7, )

In [57]:
tuple1

(1, 2, 4, 7)

In [58]:
list1 = [1,2,4,7]

In [59]:
list1

[1, 2, 4, 7]

In [60]:
list1[2]

4

In [61]:
tuple1[2]

4

In [62]:
list1[2] = 9999

In [63]:
list1

[1, 2, 9999, 7]

In [64]:
tuple1[2] = 9999

TypeError: 'tuple' object does not support item assignment

In [65]:
print(""" 
This is the example of String
You can type any text in multiple lines

""")

This is the example of String
You can type any text in multiple lines

In [66]:
print('HUFS')

HUFS

In [67]:
set1 = {'a', 'a', 'b', 'b', 'c'}

In [68]:
set1

{'a', 'b', 'c'}

In [69]:
set2 = {'1', '2','1','1'}

In [70]:
set2

{'1', '2'}

In [71]:
dict1 = {"ga": "Irish", "de":"German"}

In [72]:
dict1

{'ga': 'Irish', 'de': 'German'}

In [73]:
dict1["ga"]

'Irish'

In [74]:
pairs = [('ga', 'Irish'), ('de', 'German')]

In [75]:
dict(pairs)

{'ga': 'Irish', 'de': 'German'}

In [76]:
3 + 5

8

In [77]:
"hello" + "world"

'helloworld'

In [91]:
'hello' > 'Hello'

True

In [79]:
"abc" < "def"

True

In [80]:
5 / 3

1.6666666666666667

In [81]:
5 // 3

1

In [82]:
5 % 3

2

In [83]:
2 + 3.0

5.0

In [84]:
3.0 * 4

12.0

In [85]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [86]:
list1

[1, 2, 9999, 7]

In [87]:
list1[1]

2

In [88]:
list1[1:3] #elements in index 1 and 2

[2, 9999]

In [89]:
list2 = [1,2,3,4,5,6,7,8,9,10]

In [90]:
list2[1:9:2]

[2, 4, 6, 8]

In [71]:
list1 + list2

[1, 2, 9999, 7, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
3 * list1

[1, 2, 9999, 7, 1, 2, 9999, 7, 1, 2, 9999, 7]

In [73]:
2 in list2

True

In [74]:
3 in list1

False

In [75]:
3 not in list1

True

In [76]:
[5, 6, 9] < [5, 7] #55는 같고 67일때 7이더 크니까

True

In [77]:
s1 = {1,2,3}

In [78]:
s2 = {3,4,5}

In [79]:
s1 | s2 #union

{1, 2, 3, 4, 5}

In [80]:
s1 & s2 #intersection

{3}

In [81]:
s2 - s1

{4, 5}

In [82]:
s1 ^ s2

{1, 2, 4, 5}

# Program Structure

In [92]:
if (1 < 2):
    print(True)

True

In [93]:
if ( 1 > 2) :
    print(True)
else:
    print(False)

False

In [94]:
a = 5
b = 5

In [95]:
if (a < b):
    print("a smaller than b")
elif (a > b):
    print("b smaller than a")
else: 
    print("a = b")

a = b

In [96]:
c = [1,3,6,9,8,7]

In [97]:
for i in c:
    print(i)

1
3
6
9
8
7

In [98]:
len(c)

6

In [99]:
i = 0
while i < len(c):
    print(c[i]) 
    i = i + 1

1
3
6
9
8
7

In [100]:
data = [1,2,3,4,5]

In [101]:
for number in data:
    if number == 3:
        break
    print(number)

1
2

In [102]:
c = [1, 3,6,8,9,2,4]

In [103]:
for i in c:
    if(i < 3):
        print(i)
    else:
        break

1

In [104]:
def disp(name):
    print(name)

In [105]:
disp("HUFS")

HUFS

In [106]:
def display(name, school):
    print(name, school)

display("Bernardo", "HUFS")
display("Park", "Korea")
display("Lee", "Seoul")

Bernardo HUFS
Park Korea
Lee Seoul

In [107]:
list1 = [1, 2, 3, 4, 5]

def count1(data, target):
    n = 0
    for number in data:
         if number == target:#5 == 3
            n+=1 #n=1
    print(n)

count1(list1, 3)

1

In [125]:
list1 = [1, 2, 3, 4, 5]

def count2(data, target):
    n = 0
    for number in data:
         if number == target:
              n +=1
    return n

count2(list1, 3)

1

In [126]:
cnt1 = count1(list1, 3)

1

In [127]:
cnt1

In [128]:
cnt2 = count2(list1, 3)

In [129]:
cnt2

1

In [132]:
list3 = [5,6]
def display1(name, count):
    print(name)
    count[1] = count[0] - 1
    a = 5
    return count[1]

display1("Bernardo", list3)

Bernardo

4

In [133]:
print('maroon', 5)

maroon 5

In [134]:
name = input("what is your name?")

what is your name? 양희정

In [135]:
print(name)

양희정

In [168]:
year = int(input("what year were you born?"))

what year were you born? 2020

In [169]:
print(year)

2020

In [171]:
age = int(input("Enter your age in years"))
max_heart_rate = 206.9 - (0.67 * age)
target = 0.65 * max_heart_rate
print("Your target fat-burning heart rate is", target)

Enter your age in years 60

Your target fat-burning heart rate is 108.35499999999999

In [16]:
fp = open('sample.txt','r')

In [17]:
fp.read() #\n은 엔터를 의미

'2\n3\n4\n5\n6'

In [18]:
for i in fp:
    print(i)

In [19]:
x = -1
if x < 0:
    raise ValueError('x cannot be negative. The value of x was: {}'.format(x))

ValueError: x cannot be negative. The value of x was: -1

In [20]:
a = 5
b = 0
try:
    ratio = a / b
except ZeroDivisionError:
    print("you divide a number with zero")

you divide a number with zero

In [180]:
ratio = 5 / 0

ZeroDivisionError: division by zero

In [181]:
c = [1,3,5]

In [182]:
i = iter(c)

In [183]:
next(i)

1

In [184]:
next(i)

3

In [185]:
next(i)

5

In [186]:
next(i)

StopIteration:

In [12]:
def factors(n):
    for k in range(1, n+1):
        if n % k ==0:
            yield k

In [13]:
factors(10)

In [14]:
v = factors(10)

In [190]:
for i in v:
    print(i)

1
2
5
10

In [10]:
n = -5
print(n)

-5

In [11]:
param = n if (n>=0) else -n
print(param)

5

In [201]:
data = 2,4,6,8

In [202]:
data

(2, 4, 6, 8)

In [203]:
a, b, c, d = range(7,11)

In [204]:
print(a, b, c, d)

7 8 9 10