In [120]:
class Book:
    def __init__(self,BookID,BookTitle,BookPrice):
        self.BookID = BookID
        self.BookTitle = BookTitle
        self.BookPrice = BookPrice
    def getBookID(self):
         return self.BookID
    
    def getBookTitle(self):
        return self.BookTitle
    
    def getBookPrice(self):
        return self.BookPrice
    
class Magazine(Book):
    def __init__(self,BookID,BookTitle,BookPrice,Edition):
        super().__init__(BookID,BookTitle,BookPrice)
        self.Edition = Edition
        
    def getEdition(self):
        return self.Edition
        
class Newspaper(Book):
    def __init__(self,BookID,BookTitle,BookPrice,Date):
        super().__init__(BookID,BookTitle,BookPrice)
        self.Date = Date
        
    def getDate(self):
        return self.Date 
        
class Textbook(Book):
    def __init__(self,BookID,BookTitle,BookPrice,ISBN):
        super().__init__(BookID,BookTitle,BookPrice)
        self.ISBN = ISBN
                       
    def getISBN(self):
        return self.ISBN

In [121]:
m1 = Magazine("M001","Sport",8000,32)

In [122]:
n1 = Newspaper("N001","Korean Times",1000,20180327)

In [123]:
t1 = Textbook("T001","Data Structure",30000,2039203)

In [124]:
m1.getEdition()

32

In [125]:
n1.getBookTitle()

'Korean Times'

In [126]:
n1.getDate()

20180327

In [127]:
t1.getISBN()

2039203

In [37]:
choice = int(input("Ask user to choose:")) 
p = [4,2,8,5,6,2,6]
q = [3,6,4,7,4,3,9]

if choice == 1:
    print(Manhattan_distance(p,q))
def Manhattan_distance(p, q):
  distance = 0
  i = 0
  for i in range(len(p)):
    distance += abs(p[i] - q[i])
    i += 1
  return distance  

elif choice == 2:
    print(Euclidean_distance(p,q))
def Euclidean_distance(p, q):
  distance = 0
  i = 0
  for i in range(len(p)):
    distance += (p[i] - q[i]) ** 2
    i += 1
  return distance ** 0.5

SyntaxError: invalid syntax (<ipython-input-37-3b9d6884e3bd>, line 14)

In [1]:
num = int(input("숫자를 입력하세요:"))

p = [4,2,8,5,6,2,6]
q = [3,6,4,7,4,3,9]

def Manhattan_distance(p,q):
    distance = 0
    for i in range(len(p)):
        distance += abs(p[i] - q[i])
        return distance
    
def Euclidean_distance(p,q):
    distance = 0
    for i in range(len(p)):
        distance += (p[i] - q[i]) ** 2
        return distance ** 0.5
    
if num == 1:
    print(Manhattan_distance(p,q))
elif num == 2:
    print(Euclidean_distance(p,q))

숫자를 입력하세요: 1

1