In [3]:
word3="{name} is {feel}"
print( word3.format( name="Python", feel="SIMPLE"))

Python is SIMPLE

In [4]:
print("문자열에 바로 대입")
print( "이렇게 %s" %"ABC")

print("변수를 활용")
word1="%s 이렇게"
word2="이걸"
print( word1 %word2)

print( "여러개를 대입할 때")
print( "%s %s 이렇게" %(word2, word2))

문자열에 바로 대입
이렇게 ABC
변수를 활용
이걸 이렇게
여러개를 대입할 때
이걸 이걸 이렇게

In [6]:
word1="{} is {}"
print(word1.format("Python", "SIMPLE!"))

word2="{1} is {0}"
print( word2.format( "SIMPLE!", "Python"))

word_1, word_2="Python","SIMPLE!"
print( word1.format( word_1, word_2))
print( word2.format( word_2, word_1))
print( word3.format( name=word_1, feel=word_2))

Python is SIMPLE!
Python is SIMPLE!
Python is SIMPLE!
Python is SIMPLE!
Python is SIMPLE!

In [7]:
address="센텀드림월드 11층"
start="09시"
end="12시"
name="홍길동"
age=25
mail="myb619"
height=175.5584525478

print("장소 : {}".format(address))
print("시작시간: {}".format(start))
print("종료시간 : {}".format(end))
print("강사 : {}".format(name))
print("나이 : {}".format(age))
print("연락처 : {}.gmail.com".format(mail))
print("키 : %.1f"%height)

장소 : 센텀드림월드 11층
시작시간: 09시
종료시간 : 12시
강사 : 홍길동
나이 : 25
연락처 : myb619.gmail.com
키 : 175.6

In [13]:
korean = int(input("국어 점수를 입력하시오"))
math = int(input("수학 점수를 입력하시오"))
eng = int(input("영어 점수를 입력하시오"))

sum = korean + math + eng
ave = (korean + math + eng) / 3

print("합은 : %d"%sum)
print("평균은 : %.1f"%ave)

국어 점수를 입력하시오 50
수학 점수를 입력하시오 60
영어 점수를 입력하시오 20

합은 : 130
평균은 : 43.3

In [4]:
money = int(input("투입금액 입력 : "))
drink = input("원하는 음료 입력 : ")
color = input("좋아하는 색 : ")

print("""
{} 자판기에 {}원을 넣었더니...
{}가 나왔습니다.
그리고 {} 자판기는 다시 {}원을 되돌려줬어요.
""".format(color, money,drink,color,money))

투입금액 입력 :  1000
원하는 음료 입력 :  콜라
좋아하는 색 :  파랑

파랑 자판기에 1000원을 넣었더니...
콜라가 나왔습니다.
그리고 파랑 자판기는 다시 1000원을 되돌려줬어요.

문자열은 해당 인덱스의 값을 바꿀 수 X
리스트는 해당 인덱스의 값을 바꿀 수 O

In [5]:
new_list=[1, 2, 3]
print( new_list)
print( new_list[1])
print( new_list[-2])
new_list[1]="WOW"
print(new_list)

[1, 2, 3]
2
2
[1, 'WOW', 3]

In [10]:
old_list=[1,2,3,4,5,6,7]
old_list[0]="Python"
old_list[1]="WHAT"
old_list[2]=123.444
old_list[3]=32767
old_list[4]="EASY"
old_list[5]=old_list[-7]
old_list[6]=old_list[6]
print(old_list)

['Python', 'WHAT', 123.444, 32767, 'EASY', 'Python', 7]

In [12]:
lst=[
    1,2,3,4,
    "A","B",
    1.11,2.22,3.33,4.44
]
print(lst[0:4])
print(lst[4:6])
print(lst[6:])

[1, 2, 3, 4]
['A', 'B']
[1.11, 2.22, 3.33, 4.44]

In [17]:
lst_1=[10,22,33,44,50]
lst_1[1]=20
lst_1[2]=30
lst_1[3]=40
lst_1.remove(30)
print(lst_1)

[10, 20, 40, 50]

In [19]:
lst_2=[31,11,22,99,74,53,12,88,1]
lst_2.sort()
a=lst_2.index(74)
lst_2.pop(a)
print(lst_2)

[1, 11, 12, 22, 31, 53, 88, 99]

In [21]:
lst_3=[1,10,11,14,3,2,5]
lst_3.reverse()
lst_3.sort()
lst_3.pop()
lst_3.pop()
lst_3.append(20)
print(lst_3)

[1, 2, 3, 5, 10, 20]

In [24]:
D = [170, 70, 1.7]
S = [180, 80, 1.8]
N = [190, 90, 1.9]
B = [160, 60, 1.6]

hei = D[0] + S[0] + N[0] + B[0] / 4
wei = D[1] + S[1] + N[1] + B[1] / 4
eye = D[2] + S[2] + N[2] + B[2] / 4

print(hei)
print(wei)
print(eye)

580.0
255.0
5.800000000000001

In [25]:
movie = ["어벤져스","앤트맨","스위스 아미맨","해리포터","반지의 제왕","여인의 향기"]

print(movie[3])
print(movie[0:2])
print(movie[3:5])
movie_1 = movie[0:2] +  movie[3:5]
print(movie_1)

해리포터
['어벤져스', '앤트맨']
['해리포터', '반지의 제왕']
['어벤져스', '앤트맨', '해리포터', '반지의 제왕']

In [26]:
HONG = {"이름":"홍길동","나이":25,"연락처":"010-1234-5678","과목":"python"}
print(HONG)

{'이름': '홍길동', '나이': 25, '연락처': '010-1234-5678', '과목': 'python'}

In [31]:
dic_1 = {"이름":"아무개","나이":"23세","생일":"1888년 8월 8일","출생지":"조선의 어느 시골","대표곡":"노동요, 아리랑"}
print("-----가수 아무개 정보-----")
print("이름\t:\t%s"%dic_1['이름'])
print("나이\t:\t%s"%dic_1['나이'])
print("생일\t:\t%s"%dic_1['생일'])
print("출생지\t:\t%s"%dic_1['출생지'])
print("대표곡\t:\t%s"%dic_1['대표곡'])

-----가수 아무개 정보-----
이름	:	아무개
나이	:	23세
생일	:	1888년 8월 8일
출생지	:	조선의 어느 시골
대표곡	:	노동요, 아리랑

In [35]:
dic = {
    'key1':'value1',
    'key2':'value2',
}
lst1=dic.keys()
lst2=dic.values()
print( type (lst1))
print( type(lst2) )
lst1, lst2 = list(lst1),tuple(lst2)
print( type( lst1 ))
print( type( lst2 ))

<class 'dict_keys'>
<class 'dict_values'>
<class 'list'>
<class 'tuple'>

In [39]:
mart = {
       "다이제":1000, "메로나":500,
       "코카콜라":700, "츄파츕스":500,
}
mart_o=mart.copy()
menu=list(mart.keys())
price=tuple(mart.values())

mart["초코송이"]=1000
del mart["메로나"]
mart.update(코카콜라=1500,다이제=1500)
print(mart_o)
print(mart)

{'다이제': 1000, '메로나': 500, '코카콜라': 700, '츄파츕스': 500}
{'다이제': 1500, '코카콜라': 1500, '츄파츕스': 500, '초코송이': 1000}

In [40]:
s1=set([1,2,3,4])
s2=set([3,4,5,6])
print(s1 & s2)
print(s1 | s2)
print(s1.union( s2 ))
print(s1-s2)
print(s1.difference( s2 ))

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [43]:
s1=set([1,2,3,4])
s1.add(5)
print(s1)
s1.update([6,7,8])
print(s1)
s1.remove(4)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [45]:
tup_1=(1,2,3,4,5)
tup_2=(6,7,8)
print(tup_1[1])

print( tup_1[1:3])
print(tup_1.count(3))
print(tup_1.index(5))
tup_3=tup_1+tup_2
print(tup_3)
print(tup_2*3)

2
(2, 3)
1
4
(1, 2, 3, 4, 5, 6, 7, 8)
(6, 7, 8, 6, 7, 8, 6, 7, 8)

In [ ]:
num = int(input("정수 하나 입력 : "))

if (num%2)==0:
    print("짝수","2의 배수")